# CI/CD
/.github/ @ai-dynamo/Devops @ai-dynamo/nixl-devops
CODEOWNERS @ai-dynamo/Devops @ai-dynamo/nixl-maintainers

# Legal
/ATTRIBUTIONS.md @ai-dynamo/Devops
/CODE_OF_CONDUCT.md @ai-dynamo/Devops
/CONTRIBUTING.md @ai-dynamo/Devops
/LICENSE @ai-dynamo/Devops
/SECURITY.md @ai-dynamo/Devops
