# NIXL Container Version Information

# Version information
NIXL_VERSION="${NIXL_VERSION}"
UCX_VERSION="${UCX_VERSION}"

# Build information
BUILD_TARGET="${BUILD_TARGET}"
BUILD_TIMESTAMP="${BUILD_TIMESTAMP}"
ARCHITECTURE="${arch}"
BASE_IMAGE_NAME="${BASE_IMAGE}"
BASE_IMAGE_TAG="${BASE_IMAGE_TAG}"
TAG_NAME="${TAG_NAME}"

# Jenkins build information
BUILD_NUMBER="${BUILD_NUMBER}"
BUILD_URL="${BUILD_URL}"
JOB_NAME="${JOB_NAME}"
NODE_NAME="${NODE_NAME}"
WORKSPACE="${WORKSPACE}"
